<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>?????</title>
</head>

<body>
<h1> '?' in Whatsapp chat </h1>
<p> Submit file whatsapp chat kamu disini </p>

<form method='post' enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="chatfile" accept='.txt'>
    <input type="submit">
</form>

  <div class='row'>
    {% if file_url %}
    <img src="{{ file_url }}" class="img-fluid">
      <br>
      <a class="btn btn-dark my-4" href="/">Return to Homepage</a>
    {% else %}
    <p>No chatfile added.</p>
    {% endif %}
  </div>
</body>
</html>